<h1>Eve Calendar</h1>
<h2 class="text-info">Connect your eve calendar to your actual calendar</h2>

<a href="@ViewData["authorization_url"]">
    <img src="~/images/eve-sso-login-black-large.png"/>
</a>
