<h1>Calendar link</h1>
<p>Use the following link for your calendar:</p>

<h1><pre><code>@ViewData["icalendar"]</code></pre></h1>

<p class="text-danger">
    Make sure to keep this url secret.
</p>

<p>
    This url can be added to, for example, google. When in <a href="https://calendar.google.com">Google Calendars</a>, select import calendar via URL and post the aforementioned link. 
</p>